/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --darkGray: hsl(0, 0%, 55%);
    --veryDarkGray: hsl(0, 0%, 41%);
}

body {
    font-size: 15px;
    font-family: 'Alata', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    color: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Header */

header {
    background-image: url('images/desktop/image-hero.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    min-height: 650px;
    /* margin-bottom: 150px; */
}

header::after {
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background: hsla(250deg,80%,0%,0.4);
}
nav {
    /* margin: 0 100px; */
    margin: 0 180px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-family: 'Josefin Sans', sans-serif;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    /* color: var(--white); */
    color: var(--white);
    font-weight: 500;
}


header .container {
    border: 2px solid var(--white);
    display: flex;
    justify-content: flex-start;
    max-width: 45%;
    margin: 150px 190px;
}

header .container h1 {
    text-transform: uppercase;
    padding: 30px;
    font-size: 70px;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
} 


.toggle-button {
    position: absolute;
    top: 4.5rem;
    right: 2rem;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
/* Main */

main .container {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 160px 160px 100px;
    /* margin-bottom: 100px; */
}

main .container #left {
    display: flex;
}

main .container #right {
    /* display: flex;
    flex-flow: column wrap; */
    transform: translate(-100px,110px);
    background: var(--white);
    max-height: 400px;
}

main .container h2 {
    padding: 100px 0 30px 100px;
    font-size: 35px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: var(--black);
}

main .container p {
    padding-left: 100px;
    color: var(--darkGray);
}


.gallery {
    margin: 100px 160px;
    font-family: 'Josefin Sans', sans-serif;

}

.gallery .galleryContainer {
    display: flex;
    justify-content: space-between;
}

.galleryTitle {
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
} 

.galleryButton{
    background: #fff;
    padding: 15px 40px;
    text-align: center;
    border: 1px solid var(--veryDarkGray);
    text-transform: uppercase;
    color: var(--black);
}

.galleryImages {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

} 

.galleryImages .imageCard {
    flex-basis: 22%;
    margin-bottom: 20px;
} 

.galleryImages .imageCard img {
    height: 100%;
    width: 100%;
    filter: brightness(0.8);
    object-fit: cover;
} 

.galleryImages .imageCard p {
    color: var(--white);
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 35px;
    position: relative;
    bottom: 120px;
} 


footer {
    background: var(--black);
    color: var(--white);
    padding-bottom: 30px;
} 

footer .container {
/*    border: 2px solid var(--white); */
    margin: 0 160px;
    padding: 35px 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
} 

footer .container #footerLogo {
    font-family: 'Alata', sans-serif;
    font-size: 34px;
    font-weight: 800;
    color: var(--white);
}

footer .container .footerLinks {
    padding-top: 15px;
    display: flex;
    flex-flow: row wrap;   
}

footer .container .footerLinks li {
    padding: 0 10px;
}

footer .container .footerLinks li:nth-of-type(1) {
    padding-left: 0;
}

footer .container .footerLinks a {
    color: var(--white);
    font-weight: 500;
} 

footer .container .right .socials {
    display: flex;
    justify-content: flex-end;
}
footer .container .right .socials li {
    padding-right: 15px;
}
footer .container .right .socials li a {
    color: var(--white);
}

footer .container .right .socials li:nth-of-type(2) {
    padding-top: 3px;
}

footer .container .right #copyright {
    color: var(--darkGray);
    margin-top: 30px;
}
/* Mobile */

@media only screen and (min-width: 250px) and (max-width: 1100px) {
   header nav {
       flex-direction: column;
       /* margin: 0 50px; */
        margin-left: 0;
        margin-right: 0;
     }
    
    header nav #logo {
        margin: 0 50px;
    }

   header nav ul {
       flex-direction: column;
   }
   .toggle-button {
       display: flex;
   }
    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background: var(--white);
        border-radius: 10px;
   }
    .links .toggle {
       display: none;
   }

    .links .active {
        display: flex;
  }
 
    .links .mobile {
        background: #000;
        text-transform: uppercase;
        margin-left: 0;
        margin-right: 0;
}

    .links .mobile li {
        padding: 5px 0;
        text-align: center;
    }

    .links .mobile li:hover {
        background: #191919;
        color: var(--black);
    }

   .navbar .links ul {
        display: none;
        flex-direction: column;
        background: #f4f4f4;
        margin-left: 0;
        margin-right: 0;
  }
}