* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	height: auto;
	max-width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover { 
	text-decoration: none;
}

blockquote {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li, ol li {
	display: block;
}

cite {
	font-style: normal;
}

input,
button,
select,
textarea {
	outline: none;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	line-height: 1.66667;
	font-weight: 300;
	color: rgba(21, 21, 21, 0.8);
	background-color: #fff;
	letter-spacing: -0.03em;
}
header::before {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: linear-gradient(360deg, rgba(18, 18, 18, 0.6) 0.91%, rgba(18, 18, 18, 0.28) 47.77%, rgba(39, 42, 55, 0.75) 99.52%);
    z-index: 1;
}

header {
	min-height: 100vh;
	height: 100vh;
	background-image: url("../images/bg-bunner-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    opacity: 1;	
	/*position: sticky;*/
	/*top: 0;*/
	/*left: 0;*/
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	max-width: 100%;
	background: rgba(255, 255, 255, 0.11);
	padding: 32px 0;
	margin-left: auto;
	margin-right: auto;
/*	width: 1600px;*/
	z-index: 5;
	position: relative;
	top: 0;
	left: 0;
}

nav a {
	color: #fff; 
	/*Change this when fix the nav.*/
}

nav ul li a {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-transform: uppercase;
}

nav .active {
	color: #41A451;
    background: transparent;
}

nav #logo {
	margin: 0 20px;
}

nav .scrolled {
	background: #000;
}

nav .main-nav {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	max-width: 100%;
	width: 100%;
}

nav .main-nav a {
	/*color #fff;*/
}

nav .main-nav ul {
	display: flex;
	justify-content: center;
	max-width: 100%;
	width: 100%;
}

nav .main-nav ul li {
	padding: 0 38px;
}

nav .right-nav {
	white-space: nowrap;
	margin-right: 10px;
	max-width: 100%;
}

nav .right-nav .booknow {
    box-shadow: 0px 0px 15px rgba(21, 21, 21, 0.15);
    padding: 8px 25px;
    font-size: 13px;
    line-height: 20px
    color: #151515 !important;
    background-color: #ffffff;
    border-color: #ffffff;
    overflow: hidden;
    display: inline-block;
    /*padding: 14px 35px;*/
    /*font-size: 15px;*/
    /*line-height: 1.25;*/
    border: 1px solid;
    border-radius: 0;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
}

nav .right-nav .booknow {
	text-decoration: none;
	color: #151515 !important;
}

.welcome {
	margin: 0 auto;
	width: 75%;
	border: 5px solid blue;
	color: #fff !important;
	text-align: center;
	
	transform: translateY(-150%);
}

.welcome .container {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.welcome .container #decor::before {
	display: inline-block;
    content: '';
    height: 0;
    width: 60px;
    border-top: 3px solid #ffffff;
} 

.welcome .container #decor {
	font-size: 0;
    line-height: 0;
    margin: 30px 0 22px;
}

.welcome .container p {
	font-size: 18px;
	line-height: 1.66667;
	display: inline-block;
    max-width: 550px;
    letter-spacing: -0.03em;
    align-self: center;
}





@media screen and (max-width: 1000px) {
	body {
		overflow-x: hidden;
	}


	nav #logo {
		width: 100%;
	}
	nav .main-nav ul {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
	}

	nav .right-nav ul li a {
		background: transparent !important;
	} 
}